<p-button (click)="showBasicDialog()" icon="pi pi-plus" label="add book"></p-button>
<p-dialog header="add book" [(visible)]="displayDilog" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form
    (ngSubmit)="onSubmit()"
    ngNativeValidate
  >
<div class="row justify-content-md-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card text-center">
      <img class="card-img-top" src="holder.js/100px180/" alt="" />
      <div class="card-body">
       
        <div class="form-group">
          <i class="fa fa-book-shape-o-direction"></i>

          <label>book name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id=""
            [(ngModel)]="mybook.name"
            aria-describedby="helpId"
            placeholder="name"
            required
          />
          <br />
          <label>book auther</label>
          <input
            type="text"
            class="form-control"
            name="auther"
            id=""
            [(ngModel)]="mybook.author"
            aria-describedby="helpId"
            placeholder="auther"
            required
          />
          <br />

          <!-- <button type="button" class="btn btn-primary">button</button> -->

          <button type="submit" class="btn btn-primary text-center">
            add the book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</p-dialog>