<p>addbook works!</p>
<div class="row justify-content-md-center">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="card text-center">
      <img class="card-img-top" src="holder.js/100px180/" alt="" />
      <div class="card-body">
        <h1 class="card-title text-center">Add Book</h1>
        <div class="form-group">
          <i class="fa fa-book-shape-o-direction"></i>

          <label>book name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id=""
            aria-describedby="helpId"
            placeholder="name"
            required
          />
          <br />
          <label>book auther</label>
          <input
            type="text"
            class="form-control"
            name="auther"
            id=""
            aria-describedby="helpId"
            placeholder="auther"
            required
          />
          <br />

          <!-- <button type="button" class="btn btn-primary">button</button> -->

          <button type="submit" class="btn btn-primary text-center">
            add the book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
