<!--  <div class="row justify-content-md-center">
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h3>registration</h3>
        <br /><br /><br />
        <form>
          <input type="username" pInputText placeholder="name" class="space" />
          <br />
          <input type="email" pInputText placeholder="email" class="space" />
          <br />
          <input
            type="password"
            pInputText
            placeholder="password"
            class="space"
          />
          <br />
          <input
            type="password"
            pInputText
            placeholder="confirm password"
            class="space"
          />
          <br />
          <button pButton type="button" label="submit"></button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr /> 
<div class="d-flex flex-row justify-content-md-center">
  <div class="col-10">
    <div>
      <p-steps [model]="items" ></p-steps>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
 -->

<div class="row justify-content-md-center">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <mat-stepper linear #stepper>
      <!-- #docregion editable -->
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <!-- #enddocregion editable -->
        <form [formGroup]="firstFormGroup" ngNativeValidate>
          <!-- #docregion step-label -->
          <ng-template matStepLabel>email and password</ng-template>
          <!-- #enddocregion step-label -->

          <!-- <input
            type="password"
            name="pass"
            id="inputpass"
            class="form-control"
            required="required"
            title="password"
            placeholder="password"
          />
          -->
          <!-- <input
            type="email"
            name="email"
            id="inputemail"
            class="form-control"
            value=""
            required="required"
            title="email"
            placeholder="email"
            type="email"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
          /> -->

          <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input
              matInput
              formControlName="firstCtrl"
              placeholder="name"
              required
              type="password"
            />
          </mat-form-field>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input
              matInput
              formControlName="firstCtrl"
              placeholder="email"
              required
            />
          </mat-form-field>

          <div>
            <button mat-button matStepperNext class="btn">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>name</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="name"
              required
            />
          </mat-form-field>
          <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <button mat-button matStepperNext class="btn" type="button">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button routerLink="/login" class="btn" type="button">
            register
          </button>
          <button mat-button (click)="stepper.reset()" class="btn">
            Reset
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
