

<div class="row justify-content-md-center">
  <div class="col-6 ">
    <p>namepass works!</p>
    <h1>naaammeee</h1>

    
<mat-stepper linear #stepper>
  <!-- #docregion editable -->
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
  <!-- #enddocregion editable -->
      <form  [formGroup]="firstFormGroup">
  <!-- #docregion step-label -->
        <ng-template matStepLabel>Fill out your name</ng-template>
  <!-- #enddocregion step-label -->
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  




    <!-- <form [formGroup]="formGroup">
      <mat-stepper formArrayName="formArray" linear>
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
          ...
          <div>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step formGroupName="1"  [stepControl]="formArray.get([1])">
          ...
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        ...
      </mat-stepper>
    </form> -->

<!--     
    
      <div class="grid grid-nogutter justify-content-end">
          <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
   -->

<!-- 
   <button class="btn btn-primary" type="button">next step</button> -->
  </div>
</div>

